article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }


/**********************************
	FUNCTIONAL STYLES
***********************************/
.murder:before, .murder:after {
	background-color: black;
	background-image: none;
	color: #333;
	text-shadow: 0 0 0 black;
	border: 1px solid black;
	box-shadow: 0 0 0 black;
	border-color: black;
	fill: black;
}

img {
	max-width: 100%;
}


/**********************************
	DOCS STYLES
***********************************/
body {
	background: <font><font>background: #f22c00; /* Old browsers */</font></font>
background: -moz-linear-gradient(-45deg,  #f22c00 0%, #eaf700 24%, #0bed13 46%, #00e8f4 63%, #8100ea 84%, #ff00e1 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f22c00), color-stop(24%,#eaf700), color-stop(46%,#0bed13), color-stop(63%,#00e8f4), color-stop(84%,#8100ea), color-stop(100%,#ff00e1)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* IE10+ */
background: linear-gradient(135deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* W3C */
<font><font class="">filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f22c00', endColorstr='#ff00e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */</font></font>
background-size: cover;
background-attachment: fixed;
;
	color: white;
	font-family: 'Lato', sans-serif;
	font-weight: 200;
	font-size: 18px;
	line-height: 1.5;
}
.wrapper {
	width: 70%;
	margin: 0 auto;
	padding: 50px;
}

.heart {
	max-height: 200px;
}

header {
	text-align: center;
}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 8vw;
    font-weight: 100;
    margin: 0 auto;	
}

.kat {
	display: block;
	margin: 0 auto;
}

.code {
	width: 100%;
	padding: 10px 20px;
	border: 1px solid black;
	background: rgba(255,255,255,0.5);
	color: black;
	display: inline-block;
	border-radius: 5px;
}

.moneyShot {
	text-align: center;
	margin: 0 auto;
}

.button{
	padding: 5px 80px;
	display: inline-block;
	border-radius: 5px;	
	border: 2px solid #222;
	cursor: pointer;

	background: -moz-linear-gradient(-45deg,  #f22c00 0%, #eaf700 24%, #0bed13 46%, #00e8f4 63%, #8100ea 84%, #ff00e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#f22c00), color-stop(24%,#eaf700), color-stop(46%,#0bed13), color-stop(63%,#00e8f4), color-stop(84%,#8100ea), color-stop(100%,#ff00e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(-45deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* IE10+ */
	background: linear-gradient(135deg,  #f22c00 0%,#eaf700 24%,#0bed13 46%,#00e8f4 63%,#8100ea 84%,#ff00e1 100%); /* W3C */
	<font><font class="">filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f22c00', endColorstr='#ff00e1',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */</font></font>
	/*background-size: cover;*/
	/*background-attachment: fixed;*/
	;
}

.button:hover{
	color: #222;
	background:rgba(255,255,255,0.4);
}

footer{
	font-size: 16px;
	margin:20px 0;
	display: inline-block;
	width: 100%;
}
<<<<<<< HEAD
.tweet{
	float: left;
	color: #333;
	background: rgba(255,255,255,0.4);
	border: 2px solid #333;
	border-radius: 5px;
	padding: 8px 20px;
}
.tweet p{
	display: inline;
}
.credits{
	float: right;
	padding: 8px 20px;
=======

.tigers {
	width: 40%;
	margin: 0 auto;
	display: block;
>>>>>>> 9d74c98669f40969c445d8800b9379546ceb1b4e
}

footer a{
	text-decoration: none;
	color: white;
}

footer a:hover{
	color: #222;
}

@media (max-width: 840px) {
	.wrapper {
		width: 98%;
	}
}

@media (max-width: 500px) {
	code {
		font-size: 0.85em;
	}

	.wrapper {
		padding: 10px;
	}
}
